{{> menu}}

<form class="ui stacked segment form" action="/model/{{guitars.id}}/updatemodel/{{model.id}}" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Make</label>
      <input placeholder="title" type="text" name="title" value="{{model.title}}">
    </div>
    <div class="field">
      <label>Type</label>
      <input placeholder="type" type="text" name="type" value="{{model.type}}">
    </div>
    <div class="field">
      <label>Year</label>
      <input placeholder="year" type="text" name="year" value="{{model.year}}">
    </div>
    <div class="field">
      <label>Price</label>
      <input placeholder="00" type="text" name="price" value="{{model.price}}">
    </div>
  </div>
  <button class="ui blue submit button">Update Model</button>
</form>